{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Welcome!</h1>
    <div class="col text-center">
        <a href="{{ path('create') }}" class="btn btn-primary">
           Start new game
        </a>
    </div>
    <a href="{{ path('app_logout') }}" class="btn btn-secondary">
        logout
    </a>
{% endblock %}